
.result-list {
  position: relative;
  max-width: 870px;
  background: #fff;
  border: solid 1px #C9C9C9;
  padding: 25px;
  position: relative;
  width: 100%;
  margin: 15px auto 0 auto;
  position: relative;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.8s;
  animation-name: fade;
  animation-duration: 0.8s;
}

@-webkit-keyframes fade {
  from {opacity: .0}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .0}
  to {opacity: 1}
}

  .result-list .result-list_image {
    width: 200px;
    height: 250px;
    margin-right: 30px; }
  .result-list_product {
    display: inline-block;
    width: 524px;
    vertical-align: top;
    margin-left: 10px; }

    .result-list h2 {
      font-size: 25px;
      line-height: 27px;
      font-weight: bold; }

    .result-list button {
      padding: 6px 12px;
      height: 34px;
      border: none;
      font-size: 12px;
      line-height: 17px;
      font-weight: 900;
      background: #6EB556;
      color: #fff;
      margin: 0 5px 0 0;
    }

    .result-list button:hover {
        background: #4aa22c;
        cursor: pointer;
      }
    .result-list .result-list_product .bookmark {
      position: absolute;
      right: 85px;
      top: 50px;
      background: #34648F;
      height: 27px;
      font-size: 10px; }
      .result-list .result-list_product .bookmark .book-icon {
        vertical-align: middle;
        font-size: 18px;
        position: relative;
        top: -1px;
        right: 3px; }
      .result-list .result-list_product .bookmark:hover {
        background: #C9C9C9; }
    .result-list .close {
      position: absolute;
      text-align: center;
      right: 50px;
      top: 50px;
      width: 27px;

      background: #34648F;
      height: 27px;
      font-size: 11px; }
      .result-list .close:hover {
        background: #dd0028; }
      .result-list .close:before, .result-list  .close:after {
        position: absolute;
        content: " ";
        top: 6px;
        left: 12px;
        height: 15px;
        width: 3px;
        background-color: #fff; }
      .result-list .close:before {
        transform: rotate(45deg); }
      .result-list .close:after {
        transform: rotate(-45deg); }
    .result-list .result-list_product .btn_grundfos-product-center {
      margin-right: 10px; }
    .result-list .result-list_product .product_number {
      margin: 5px 0 20px 0; }
    .result-list .result-list_product .product_info {
      margin-bottom: 30px; }
  .result-list .files {
    margin-top: 30px; }
    .result-list .files .files_nav {
      width: 100%;
      margin-left: 4px; }
      .result-list .files .files_nav li {
        width: 20%;
        display: inline-block;
        text-align: center;
        background: #34648F;
        color: #fff;
        padding: 14px 0;
        margin-left: -4px; }
        .result-list .files .files_nav li:hover {
          background: #fff;
          color: #333333;
          border: solid 1px #C9C9C9;
          padding: 13px 0;
          cursor: pointer; }

          .result-list .files .files_nav li{
            border: solid 1px #34648F;

          }
          section.result-list{
            width: 524px;
          }
