	.left-nav__link--notify  {
    display: inline-block;
    border: 1px solid #aaa;
    width:20px;
    height: 20px;
    margin-left: 10px;
    text-align: center;
    font-size: 12px;
}

	.css-base .modulebox .form-group,
	.css-base .modulebox .checkbox,
	.css-base .modulebox .radio {
		margin: 0 15px 7.5px 15px;
	}
	.css-base .checkbox {
		display: block;
		height: auto;
	}
	.css-base .checkbox input[type="checkbox"] {
		float: left;
		margin-left: -20px;
	}
	.css-base .modulebox .btn-group.bootstrap-select {
		margin: 0 0 7.5px;
	}
	.css-base .bootstrap-select.btn-group .dropdown-menu li {
		list-style-type: none;
		left: 0;
		margin-right: 0;
	}

	@media screen and (min-width: 768px) {
		.css-base .modulebox .row {
			margin-left: 7.5px;
			margin-right: 7.5px;
		}
		.css-base .modulebox .row .form-group {
			margin-left: 0;
			margin-right: 0;
		}
	}


    .css-base .modulebox.inner-modulebox,
    .css-base .modulebox .modulebox.inner-modulebox,
    .main-column .css-base .modulebox .modulebox.inner-modulebox {
        background: #ffffff;
        border: 1px solid #c9c9c9;
        margin-bottom: 15px;
    }

    .css-base .modulebox .modulebox {
        background-color: transparent;
        border-style: none;
        padding-top: 0;
        margin-bottom: 0;
    }
    .css-base .modulebox .modulebox > h3:first-child {
        background-color: transparent;
        border-bottom-style: none;
    }

    .css-base .modulebox .right-column .modulebox:first-child:before {
        content: initial;
    }
    .css-base .modulebox .row .row {
        margin-left: -7.5px;
        margin-right: -7.5px;

    }
    .css-base .modulebox img.image.wide {
        width: 100%;
    }

	.css-base .right-column .modulebox .modulebox:before {
		display: none;
	}

.left-nav__link--notify  {
    
}

    .css-base .row{margin-right:-10px;margin-left:-10px}
    .css-base .col-sm-1,
    .css-base .col-sm-2,
    .css-base .col-sm-3,
    .css-base .col-sm-4,
    .css-base .col-sm-5,
    .css-base .col-sm-6,
    .css-base .col-sm-7,
    .css-base .col-sm-8,
    .css-base .col-sm-9,
    .css-base .col-sm-10,
    .css-base .col-sm-11,
    .css-base .col-sm-12
    {padding-right:10px;padding-left:10px;}
.left-nav__link--notify  {
    
}

    .css-base .modulebox .video-container { margin: 0 15px 15px 15px;}
    .css-base .main-column section.component {
        margin-bottom: 20px;
    }


    .main-column .css-base .component-accordion.modulebox.inner-modulebox { border-bottom-style: none; }
    .css-base .modulebox.component-accordion { padding-top: 0; }
    .css-base .modulebox.component-accordion:first-child:before { top: 0; }
    .css-base .modulebox.component-accordion .panel { border-style: none; }
    .css-base .modulebox.component-accordion .panel .panel-heading { border-bottom: 1px solid #c9c9c9; }
    .css-base .modulebox.component-accordion .panel .panel-heading .panel-title { margin: 0; }
    .css-base .modulebox.component-accordion .panel .panel-collapse { border-bottom: 1px solid #c9c9c9; }
    .css-base .modulebox.component-accordion .panel .panel-collapse.collapsing { border-top-style: none; }
    .css-base .modulebox.component-accordion .panel .panel-collapse.in { border-top-style: none; }
    .css-base .modulebox.component-accordion .panel .panel-body { padding-top: 0px; }
    .css-base .modulebox.component-accordion .panel .panel-body .right-component-image { margin: -15px 0 15px 0;}
    .css-base .modulebox.component-accordion .panel .panel-body .text { padding: 15px 0 0 0; }
    .css-base .modulebox.component-accordion .panel .panel-body p { margin: 0 15px 15px 15px; }
    .css-base div.parsys > form {
        background: #ffffff;
        border: 1px solid #c9c9c9;
        margin-bottom: 20px;
        padding: 15px;
    }
    .css-base .modulebox div.parsys > form {
        background: transparent;
        border-style: none;
        margin-bottom: 20px;
        padding: 0;
    }

    .css-base .component-richtext .text {
        padding: 0;
    }
    .css-base .component-textimage .text {margin: 0; padding: 0}
    .css-base .component-textimage .text .imageWide .img-container.pull-left {
        padding-left: 0;
        margin: 0;
        float: none !important;
    }
    .css-base .component-textimage p,
    .css-base .component-textimage h2,
    .css-base .component-textimage .text h3,
    .css-base .component-textimage .text ul {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .css-base .modulebox>.img-container:first-child { margin-top: -15px;}
    .css-base .modulebox>.img-container:first-child .image-description {margin: 15px 15px 15px 15px;}
    .css-base .modulebox .modulebox>.img-container:first-child { margin-top: 0;}
    .css-base .modulebox .modulebox>.img-container:first-child { margin-bottom: 15px;}
    .css-base .modulebox .modulebox>.img-container:first-child .image-description {margin: 0 0 15px 0;}

    .css-base .modulebox > .img-container:last-child img.image {margin-bottom: 0;}

    .css-base .modulebox .row .component-textimage .imageWide .image {margin-bottom: 15px}
    .css-base .modulebox .row .component-textimage .image.imageWide { margin:0;padding:0}
    .css-base .modulebox .row div.image {margin: 0;}
    .css-base .modulebox .row .image img.image {padding: 0; margin: 0 0 15px 0;}
    .css-base .modulebox .row .image.parbase.section {margin: 0;}
    .css-base .modulebox img.image {
        margin: 0 0 15px 0;
        max-width: 100%;
    }
    .css-base .modulebox img.imageNoDesc {
        margin: 0;
        max-width: 100%;
    }
    .css-base img.image {padding: 0; margin: -15px 0 15px 0;}
    .css-base .section.textimage:first-child { border-top-style: none; }

    .main-column .css-base .modulebox {margin-bottom: 20px;}
    .main-column .css-base .modulebox .modulebox {margin-bottom: 0}

    @media screen and (min-width: 768px) {
        .css-base .modulebox .row .video-container,
        .css-base .modulebox .row img.image,
        .css-base .modulebox .row h2,
        .css-base .modulebox .row h3,
        .css-base .modulebox .row p,
        .css-base .modulebox .row ol,
        .css-base .modulebox .row ul {
            margin: 0 0 15px 0;
            padding: 0;
        }
    }
	.css-base .nav-tabs > li{
		color: #333333;
		left: 0px;
		margin-right: 0px;
		position: relative;
	}


	.css-base .related_content .modulebox .img-container {
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		margin-bottom: 15px;
		padding-bottom: 56.25%;
	}

	.css-base .related_content .modulebox>.img-container:first-child {
		width: 100%;
		padding-top: 56.25%;
		overflow: hidden;
		position: relative;
		margin-bottom: 15px;
	}

	.css-base .related_content .modulebox div.related_component_text {
		height: 145px;
		overflow: hidden;
		position: relative;
		margin-bottom: 15px;
	}

	.css-base .related_content .modulebox div.related_component_text::after {
		content: '';
		width: 100%;
		height: 145px;
		position: absolute;
		left: 0;
		top: 0;
		background: linear-gradient(transparent 120px, white);
	}

	.css-base .related_content .modulebox div.listview_text_container {
		padding-bottom: 10px;
		padding-top: 10px;
		height: 120px;
	}

.left-nav__link--notify  {
    
}
	.css-base .modulebox .row .image {margin: 0 0 15px 0;}
.left-nav__link--notify  {
    
}