/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#zip {
  background: #F1F1F1;
  border: solid 1px #C9C9C9;
  margin-top: -1px;
  margin-right: 3px;
  display: none; }
  #zip input[type=checkbox] {
    width: 18px;
    height: 18px;
    vertical-align: bottom;
    margin: 0;
    border: solid 1px #34648F;
    border: none; }
  #zip form {
    background: #fff;
    width: 180px;
    padding: 10px 20px 10px 10px;
    border: solid #C9C9C9;
    border-width: 0px 1px 0px 0px; }
    #zip form ul li {
      padding: 10px; }
    #zip form .folder ul {
      margin-left: 20px; }
      #zip form .folder ul li {
        padding: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
    #zip form .folder .folder_title {
      cursor: pointer;
      color: #34648F; }
      #zip form .folder .folder_title:hover {
        background: #34648F;
        color: #fff;
        transition: 0.2s; }
    #zip form .folder .material-icons {
      font-size: 18px;
      vertical-align: bottom; }
    #zip form .subfolder {
      background: #ccc; }

.download {
  margin-top: 30px;
  color: #34648F; }
  .download input[type=submit] {
    border: none;
    background: none;
    cursor: pointer;
    vertical-align: top;
    line-height: 1.7; }

* {
  box-sizing: border-box; }

body {
  background: #F1F1F1;
  font-family: Tahoma;
  color: #333333;
  font-size: 12px;
  line-height: 17px; }

.mm {
  width: 870px;
  background: #fff;
  border: solid 1px #C9C9C9;
  padding: 50px;
  margin: 10px auto 10px auto;
  position: relative; }
  .mm .mm_image {
    width: 200px;
    height: 250px;
    margin-right: 30px; }
  .mm .mm_product {
    display: inline-block;
    width: 524px;
    vertical-align: top;
    margin-left: 10px; }
    .mm .mm_product h2 {
      font-size: 25px;
      line-height: 27px;
      font-weight: bold; }
    .mm .mm_product button {
      padding: 6px 12px;
      height: 34px;
      border: none;
      font-size: 12px;
      line-height: 17px;
      font-weight: 900;
      background: #6EB556;
      color: #fff; }
      .mm .mm_product button:hover {
        background: #4aa22c;
        cursor: pointer; }
    .mm .mm_product .bookmark {
      position: absolute;
      right: 85px;
      top: 50px;
      background: #34648F;
      height: 27px;
      font-size: 10px; }
      .mm .mm_product .bookmark .book-icon {
        vertical-align: middle;
        font-size: 18px;
        position: relative;
        top: -1px;
        right: 3px; }
      .mm .mm_product .bookmark:hover {
        background: #C9C9C9; }
    .mm .mm_product .close {
      position: absolute;
      text-align: center;
      right: 50px;
      top: 50px;
      width: 27px;
      background: #34648F;
      height: 27px;
      font-size: 11px; }
      .mm .mm_product .close:hover {
        background: #dd0028; }
      .mm .mm_product .close:before, .mm .mm_product .close:after {
        position: absolute;
        content: " ";
        top: 6px;
        left: 12px;
        height: 15px;
        width: 3px;
        background-color: #fff; }
      .mm .mm_product .close:before {
        transform: rotate(45deg); }
      .mm .mm_product .close:after {
        transform: rotate(-45deg); }
    .mm .mm_product .btn_grundfos-product-center {
      margin-right: 10px; }
    .mm .mm_product .product_number {
      margin: 5px 0 20px 0; }
    .mm .mm_product .product_info {
      margin-bottom: 30px; }
  .mm .files {
    margin-top: 30px; }
    .mm .files .files_nav {
      width: 100%;
      margin-left: 4px; }
      .mm .files .files_nav li {
        width: 20%;
        display: inline-block;
        text-align: center;
        background: #34648F;
        color: #fff;
        padding: 14px 0;
        margin-left: -4px; }
        .mm .files .files_nav li:hover {
          background: #fff;
          color: #333333;
          border: solid 1px #C9C9C9;
          padding: 13px 0;
          cursor: pointer; }

/*# sourceMappingURL=master.css.map */
